body {
  font-family: "Open sans", sans-serif;
  line-height: 1.4;
  background-color: #fafafa;
  min-width: 100%;
  min-height: 100%;
  position: relative;
}

a {
  cursor: pointer;
}

a:hover {
  text-decoration: none;
  color: #013496;
}


/***Navigation Bar***/

.navbar-white {
  background-color: #ffffff;
}


/*Logo*/

.navbar-brand {
  font-size: 25px;
  color: #2b2b2b;
}

.navbar-brand:hover,
.navbar-brand:visited {
  color: #2b2b2b;
}


/*Navigation Dropdown*/

.navbar-toggle {
  background-color: #c92308;
}

.icon-bar {
  border: 1px solid white;
}


/******Forms******/

input::placeholder {
  color: #dedfe0
}

.transparent-icon {
  background-color: white !important;
  box-shadow: inset 0px 1px 0 rgba(0, 0, 0, .075);
  color: #dedfe0;
}

.left-border-none {
  border-left: none !important;
  box-shadow: inset 0px 1px 0 rgba(0, 0, 0, .075);
  height: 45px;
}

.btn-submit {
  width: 100%;
  color: white !important;
  border: transparent;
  height: 45px;
  background-color: #c52208;
  font-size: 16px;
  font-weight: 700;
}

.btn-submit:hover {
  background-color: #c92308;
}

@media only screen and (max-width: 780px) and (orientation: landscape) {
  .left-border-none,
  .btn-submit {
    height: 35px;
  }
}


/*Login and registration Form*/

.form-container {
  background-color: white;
  padding: 20px 20px;
  border-radius: 10px;
  border: 1px solid #e0e0e0;
}

#loginFormHolder,
#registrationFormHolder {
  margin: 120px auto;
  width: 35%;
}

@media only screen and (max-width: 480px) {
  #loginFormHolder,
  #registrationFormHolder {
    margin: 10px auto;
    width: 100%;
  }
}

@media only screen and (max-width: 780px) and (orientation: landscape) {
  #loginFormHolder,
  #registrationFormHolder {
    margin: 20px auto;
    width: 50%;
  }
}

#loginFormHolder h4,
#registrationFormHolder h4 {
  margin-bottom: 20px;
}

.forgot-password {
  padding-top: 10px;
}

.login-form-agreement,
.registration-form-agreement {
  font-size: 10px;
}


/*Form Validations*/

.form-control:focus {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.not-valid {
  border-color: #FA787E;
}

.is-valid {
  border-color: #78FA89;
}

.error-messages {
  background-color: #ffc3c6;
  color: #ff0000;
  padding: 7px 5px;
  margin-bottom: 10px;
}
