<div id="registrationFormHolder">
  <div class="form-container">
    <h4>Sign up for your account!</h4>
    <form name="vm.form" novalidate ng-submit="vm.form.$valid && vm.onSubmit()" class="css-form">
      <ul ng-show="vm.form.$submitted && vm.form.$error && !vm.form.$valid" class="error-messages">
        <li ng-show="vm.form.uName.$error.required">Please enter your name.</li>
        <li ng-show="vm.form.uEmail.$error.required">Please enter your email.</li>
        <li ng-show="vm.form.uEmail.$error.email">Please enter a valid email.</li>
        <li ng-show="vm.form.uPassword.$error.required">Please enter your password.</li>
        <li ng-show="vm.loggingIn.status === 401 && vm.loggingIn.message !== 'Missing credentials'">{{vm.loggingIn.message}}.</li>
      </ul>
      <div class="form-group">
        <div class="input-group">
          <span ng-class="{'focus':nameFocus===true}" class="input-group-addon transparent-icon">
            <span class="glyphicon glyphicon-user"></span>
          </span>
          <input type="text" class="form-control left-border-none" name="uName" placeholder="Full Name" ng-model="vm.credentials.name" required ng-focus="nameFocus=true" ng-blur="nameFocus=false">
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <span ng-class="{'focus':emailFocus===true}" class="input-group-addon transparent-icon">
            <span class="glyphicon glyphicon-envelope"></span>
          </span>
          <input type="email" class="form-control left-border-none" name="uEmail" placeholder="E-mail" ng-model="vm.credentials.email" required ng-focus="emailFocus=true" ng-blur="emailFocus=false">
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <span ng-class="{'focus':pwdFocus===true}" class="input-group-addon transparent-icon">
            <span class="glyphicon glyphicon-lock"></span>
          </span>
          <input type="password" class="form-control left-border-none" name="uPassword" placeholder="Password" ng-model="vm.credentials.password" required ng-focus="pwdFocus=true" ng-blur="pwdFocus=false">
        </div>
      </div>
      <div class="form-group submit-row">
        <button type="submit" class="btn btn-submit">Sign up</button>
        <div class="forgot-password text-center">


        </div>
      </div>
    </form>
    <div class="registration-form-agreement text-center">
      <span>By signing up, you agree to our <a href="">Terms of Use </a>and <a>Privacy Policy</a>.</span>
    </div>
    <hr>
    <div id="registrationHolderFooter" class="text-center">
      <span>Already have an account? <a href="login">Sign in</a></span>
    </div>
  </div>
</div>
