

<div id="formHolder"  class="formHolder" ng-show="!vm.isEmailSent">
  <div class="form-container">
    <h4>Enter your email address to reset password</h4>
    <hr>
    <form name="vm.form" ng-submit="vm.onSubmit()" novalidate class="css-form">
      <ul ng-show="vm.form.$submitted && vm.form.$error && !vm.form.$valid" class="error-messages">
        <li ng-show="vm.loggingIn.status === 401 && vm.loggingIn.message !== 'Missing credentials'">
          {{vm.loggingIn.message}}.
        </li>
        <li ng-show="vm.form.uEmail.$error.required">Please enter your email.</li>
        <li ng-show="vm.form.uEmail.$error.email">Please enter a valid email.</li>       
      </ul>
      <div class="form-group">
        <div class="input-group">
          <span ng-class="{'focus':emailFocus===true}" class="input-group-addon transparent-icon">
            <span class="glyphicon glyphicon-envelope"></span>
          </span>
          <input type="email" class="form-control left-border-none" name="uEmail" placeholder="E-mail" ng-model="vm.credentials.email" required ng-focus="emailFocus=true" ng-blur="emailFocus=false">
        </div>
      </div>
     
      <div class="form-group submit-row">
        <button type="submit" class="btn btn-submit">Send</button>        
      </div>
    </form>   
    <hr>
    <div id="loginHolderFooter" class="text-center">
      <span>Don't have an account? <a href="register">Sign up</a></span>
    </div>
  </div>
</div>


<div id="confirmationWrapper" ng-show="vm.isEmailSent">
  <div class="white-box">
    <a href="login" id="back"> <span class="fas fa-chevron-left"></span> Log In</a>
    <div id="confirmationMessage" class="text-center">
      <h1 class="h1">Instructions on resetting your password are on their way!</h1>
      <p>If you don't receive an email soon ensure that the email address is valid and that you can receive emails from RAuth. Or <span class="resendLink" ng-click="vm.resendLink()">Click here</span> to resend the link to your email.</p>
    </div>
  </div>
</div>
