
<div id="resetPwdFormHolder"  class="formHolder" ng-show="vm.isValidToken">
  <div class="form-container">
    <h4>Enter your email address to reset password</h4>
    <hr>
    <form name="vm.form" ng-submit="vm.onSubmit()" novalidate class="css-form">
      <ul ng-show="vm.form.$submitted && vm.form.$error && !vm.form.$valid" class="error-messages">
        <li ng-show="vm.loggingIn.status === 401 && vm.loggingIn.message !== 'Missing credentials'">
          {{vm.loggingIn.message}}.
        </li>
        <li ng-show="vm.form.uPassword.$error.required">Please enter your new password.</li>
        <li ng-show="vm.form.cnfmPassword.$error.required">Please enter a valid email.</li>       
      </ul>
      <div class="form-group">
        <div class="input-group">
          <span ng-class="{'focus':pwdFocus===true}" class="input-group-addon transparent-icon">
            <span class="glyphicon glyphicon-lock"></span>
          </span>
          <input type="password" class="form-control left-border-none" name="uPassword" placeholder="New Password" ng-model="vm.credentials.password" required ng-focus="pwdFocus=true" ng-blur="pwdFocus=false">
        </div>
      </div>
     <div class="form-group">
        <div class="input-group">
          <span ng-class="{'focus':cnfmPwdFocus===true}" class="input-group-addon transparent-icon">
            <span class="glyphicon glyphicon-lock"></span>
          </span>
          <input type="password" class="form-control left-border-none" name="cnfmPassword" placeholder="Confirm Password" ng-model="vm.credentials.cnfmPassword" required ng-focus="cnfmPwdFocus=true" ng-blur="cnfmPwdFocus=false">
        </div>
      </div>

      <div class="form-group submit-row">
        <button type="submit" class="btn btn-submit">Send</button>        
      </div>
    </form>   
    <hr>
    <div id="loginHolderFooter" class="text-center">
      <span>Don't have an account? <a href="register">Sign up</a></span>
    </div>
  </div>
</div>
<div id="resetPwdMessage" ng-show="!vm.isValidToken" >
    <p>The requested page not found. The token is either invalid or is expired.</p>
</div>