<div id="profileContainer">
  <div class="text-center">
    <p class="user-profile-img">
      <span class="glyphicon glyphicon-user"></span>
    </p>
    <h3 class="user-profile-name">
      Welcome, {{vm.user.name}}
    </h3>

    <p class="subheading">Manage your info, privacy, and security to make RAuth work better for you</p>
  </div>

  <div id="manageProfile" class="form-horizontal">
    <div>
      <h3>Manage Profile</h3>
      <hr>
    </div>
    <div class="form-group">
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
        <label class="user-profile-info-label">
          Name
        </label>
      </div>
      <div class="col-lg-9 col-md-9 col-sm-8 col-xs-8">
        <input type="text" class="form-control" placeholder="Name" ng-model="vm.user.name" ng-disabled="!vm.editName">
      </div>
      <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
        <a href="" class="edit" title="Edit" ng-click="vm.edit('name');"><i class="glyphicon glyphicon-edit"></i></a>
      </div>      
    </div>
    <hr>
    <div class="form-group">
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
        <label class="user-profile-info-label">
          Email
        </label>
      </div>
      <div class="col-lg-9 col-md-9 col-sm-8 col-xs-8">
        <input type="email" class="form-control" placeholder="Email" ng-model="vm.user.email" ng-disabled="!vm.editEmail">
      </div>
      <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
        <a href="" class="edit" title="Edit" ng-click="vm.edit('email');"><i class="glyphicon glyphicon-edit"></i></a>
      </div>
    </div>
  </div>
</div>
